# Ignore everything
**

# Include the following
!.htmlnanorc
!cmd/**
!Dockerfile*
!go.mod
!go.sum
!internal/**
!Makefile
!client/**
!package-lock.json
!package.json
!postcss.config.js
!tailwind.config.js
!vite.config.js
